{% extends 'employee/profile.html' %}

{% block content %}
    {% if users %}
        <ul>
            {% for user in users %}
                <li>
                    <h3><a href="{% url 'profile' id=user.id %}">
                        {{ user.last_name }} {{ user.first_name }} {{ user.middle_name }}</a></h3>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No users</p>
    {% endif %}
{% endblock %}
{% block footer %}
    <footer class="page-footer font-small lighten-3 pt-4 fixed-bottom">
        <div class="footer-copyright text-center py-3">Footer</div>
    </footer>
{% endblock %}