{% extends 'common/wrap.html' %}


{% block header_items %}
    <div class="collapse navbar-collapse" id="userNavbar">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item ml-auto">
                <form class="form-inline" action="{% url 'search' %}" method="get">
                    <i class="fas fa-search" aria-hidden="true" style="margin-right: -5px;"></i>
                    <div class="md-form my-0">
                        <input class="form-control mr-sm-2" type="text" name="search" placeholder="Поиск сотрудника"
                               aria-label="Search">
                    </div>
                </form>
            </li>
            <li class="nav-item ml-auto">
                <a class="nav-link waves-effect waves-light" href="{% url 'profile' id=auth_user.id %}">
                    <i class="fas fa-user"></i>Профиль</a>
            </li>
            <li class="nav-item ml-auto">
                <a class="nav-link waves-effect waves-light" href="{% url 'logout' %}">
                    <i class="fas fa-sign-out-alt"></i>Выйти</a>
            </li>
        </ul>
    </div>
{% endblock %}


{% block content %}
    <input class="form-control" type="text" name="search" placeholder="Начните вводить навык.."
           aria-label="Search" id="search"><br>

    <div class="radio-buttons custom-control-inline" style="margin-bottom: 20px; width: 100%;">
        <div class="custom-control custom-radio">
          <input type="radio" class="custom-control-input" id="defaultGroupExample1" name="groupOfDefaultRadios" checked>
          <label class="custom-control-label" for="defaultGroupExample1">По имеющимся навыкам</label>
        </div>
        <div class="custom-control custom-radio" style="margin-left: 50px;">
          <input type="radio" class="custom-control-input" id="defaultGroupExample2" name="groupOfDefaultRadios">
          <label class="custom-control-label" for="defaultGroupExample2">По рекомендуемым навыкам</label>
        </div>
    </div>

    <ul id="found-list" class="list-group">
    </ul><br>
{% endblock %}

{% block extra_scripts %}
    <script type="text/javascript">
        $('#search').on('input', function () {
            let url = location.pathname + '/data';
            $.ajax({
                url: url,
                type: 'get',
                dataType: 'json',
                data: {
                    "string": $("#search").val(),
                },
                success: function (data) {
                    skills = JSON.parse(data.skills);
                    var lst = $("#found-list");
                    lst.html("");
                    var by_current_skills = document.getElementById("defaultGroupExample1").checked;
                    if (by_current_skills == true)
                    {
                            for (var i = 0; i < skills.length; i++) {
                            lst.append("<li class=\"list-group-item\"><a href=\"{% url 'search_employees' rec=0 %}?type=" + skills[i].model + "&id=" + skills[i].pk + "\">" + skills[i].fields.name + "</a></li>")
                        }
                    }
                    else
                    {
                            for (var i = 0; i < skills.length; i++) {
                            lst.append("<li class=\"list-group-item\"><a href=\"{% url 'search_employees' rec=1 %}?type=" + skills[i].model + "&id=" + skills[i].pk + "\">" + skills[i].fields.name + "</a></li>")
                        }
                    }
                },
                failure: function () {
                    alert('bad')
                }
            });
        });
    </script>
{% endblock extra_scripts %}