{% extends 'common/wrap.html' %}
{% load static %}

{% block header_items %}
    <div class="collapse navbar-collapse" id="userNavbar">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item ml-auto">
                <form class="form-inline" action="{% url 'search' %}" method="get">
                    <i class="fas fa-search" aria-hidden="true" style="margin-right: -5px;"></i>
                    <div class="md-form my-0">
                        <input class="form-control mr-sm-2" type="text" name="search" placeholder="Поиск сотрудника"
                               aria-label="Search">
                    </div>
                </form>
            </li>
            <li class="nav-item ml-auto">
                <a class="nav-link waves-effect waves-light" href="{% url 'profile' id=auth_user.id %}">
                    <i class="fas fa-user"></i>Профиль</a>
            </li>
            <li class="nav-item ml-auto">
                <a class="nav-link waves-effect waves-light" href="{% url 'logout' %}">
                    <i class="fas fa-sign-out-alt"></i>Выйти</a>
            </li>
        </ul>
    </div>
{% endblock %}


{% block content %}
    <h3>{{ skill.name }}</h3><br>
    {% if employees %}
        {% for employee in employees %}

            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 col-md-3">
                            <div class="wrapper photo-icon">{% if employee.0.user.photo %}
                                <img src="{{ employee.0.user.photo.url }}">
                            {% else %}
                                <img class="photo-icon" src="{% static "img/default.png" %}">
                            {% endif %}
                            </div>
                        </div>
                        <div class="col-12 col-md-9">
                            <br>
                            <h4 class="card-title"><a href="{% url 'profile' id=employee.0.user.id %}"> {{ employee.0.user.last_name }} {{ employee.0.user.first_name }} {{ employee.0.user.middle_name }}</a></h4>
                            <h6 class="card-subtitle mb-2 text-muted">{{ employee.0.sub_position.name }}</h6><br>
                            <p>
                                {% if rec %}
                                    Рекомендуемый уровень навыка: {{ employee.1 }}
                                {% else %}
                                    Уровень навыка: {{ employee.1 }}
                                {% endif %}
                            </p>
                        </div>

                    </div>
                </div>

            </div><br>
        {% endfor %}
    {% else %}
{% if rec %}
<h6>Сотрудников с рекомендациями по изучению данного навыка не найдено</h6>
{% else %}
<h6>Сотрудников с данным навыком не найдено</h6>
{% endif %}
    {% endif %}
{% endblock %}

{% block extra_scripts %}
    <script type="text/javascript">

    </script>
{% endblock extra_scripts %}