{% extends 'common/wrap.html' %}
{% load static %}


{% block header_items %}
    <div class="collapse navbar-collapse" id="userNavbar">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item ml-auto">
                <form class="form-inline" action="{% url 'search' %}" method="get">
                    <i class="fas fa-search" aria-hidden="true" style="margin-right: -5px;"></i>
                    <div class="md-form my-0">
                        <input class="form-control mr-sm-2" type="text" name="search" placeholder="Поиск сотрудника"
                               aria-label="Search">
                    </div>
                </form>
            </li>
            <li class="nav-item ml-auto">
                <a class="nav-link waves-effect waves-light" href="{% url 'profile' id=auth_user.id %}">
                    <i class="fas fa-user"></i>Профиль</a>
            </li>
            <li class="nav-item ml-auto">
                <a class="nav-link waves-effect waves-light" href="{% url 'logout' %}">
                    <i class="fas fa-sign-out-alt"></i>Выйти</a>
            </li>
        </ul>
    </div>
{% endblock %}


{% block content %}
    <div class="card project">
        <div class="card-body">
            <div class="fluid-container">
                <h4 class="card-title" align="center">{{ project.name }}</h4>
                <hr>
                <h5>Описание:
                    <button class="show-hide" onclick="hideShow('description')">
                        <img src="{% static "img/show_hide.png" %}" width="10%" style="width: 20px; height: 20px;">
                    </button>
                </h5>
                <div class="description" id="description">
                    {% if project.extra_info %}
                        <p>{{ project.extra_info }}</p>
                    {% else %}
                        —
                    {% endif %}
                </div>
                <hr>
                <h5>Команда:
                    <button class="show-hide" onclick="hideShow('team')">
                        <img src="{% static "img/show_hide.png" %}" width="10%" style="width: 20px; height: 20px;">
                    </button>
                </h5>
                <div class="team" id="team" style="display: none">
                    {% if sorted_members %}
                        {% for member in sorted_members %}
                            <ul class="list-group">
                                <li class="list-group-item member-item">
                                    {% if member.user.photo %}
                                        <a href="{% url 'profile' id=member.user.id %}">
                                            <img src="{{ member.user.photo.url }}"
                                                 width="7%"
                                                 class="rounded float-left" alt="...">
                                        </a>
                                    {% else %}
                                        <a href="{% url 'profile' id=member.user.id %}">
                                            <img src="{% static "img/default.png" %}"
                                                 width="7%"
                                                 class="rounded float-left" alt="...">
                                        </a>
                                    {% endif %}
                                    <div class="member-info">
                                        <a href="{% url 'profile' id=member.user.id %}">
                                            <div class="member-name">
                                                {{ member.user }}
                                            </div>
                                            <div class="member-subposition">
                                                {{ member.sub_position }}
                                            </div>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        {% endfor %}
                        </ul>
                    {% else %}
                        —
                    {% endif %}
                </div>
                <hr>
                <h5>Технологии:
                    <button class="show-hide" onclick="hideShow('technologies')">
                        <img src="{% static "img/show_hide.png" %}" width="10%" style="width: 20px; height: 20px;">
                    </button>
                </h5>
                <div class="technologies" id="technologies" style="display: none">
                    {% if technologies %}
                        <ul class="list-group">
                            {% for tech in technologies %}
                                <li class="list-group-item">
                                    <h6>{{ tech.sub_skill }}</h6>
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        —
                    {% endif %}
                </div>
                <hr>
                {% if is_lead %}
                    <h5>Низкочастотные навыки команды:
                        <button class="show-hide" onclick="hideShow('rare-skills')">
                            <img src="{% static "img/show_hide.png" %}" width="10%" style="width: 20px; height: 20px;">
                        </button>
                    </h5>
                    <div class="rare-skills" id="rare-skills" style="display: none">
                        <table class="table table-bordered">
                            {% for skill in rare_skills %}
                                <tr>
                                    <h6>
                                        <div class="rare-skill-info">
                                            {% if skill.1.0 == 1 %}
                                                <td align="center"
                                                    style="vertical-align: middle; background-color: #ff9696; width: 114px; min-height: 55px; height: 55px;">
                                                    <div class="number-of-owners">
                                                        {{ skill.1.0 }}
                                                    </div>
                                                </td>
                                            {% elif skill.1.0 == 2 %}
                                                <td align="center"
                                                    style="vertical-align: middle; background-color: #ffab96; width: 114px; min-height: 55px; height: 55px;">
                                                    <div class="number-of-owners">
                                                        {{ skill.1.0 }}
                                                    </div>
                                                </td>
                                            {% endif %}
                                            <td>
                                                <div class="skill-name">
                                                    {{ skill.0 }}
                                                </div>
                                                <div class="owners-title">
                                                    <span>Обладатели:</span>
                                                    <button class="show-hide" onclick="hideShow('{{ skill.0 }}')">
                                                        <img src="{% static "img/show_hide.png" %}" width="10%"
                                                             style="width: 20px; height: 20px;">
                                                    </button>
                                                    <div class="owners-content" id='{{ skill.0 }}'
                                                         style="display: none;">
                                                        {% for owner in skill.1.1 %}
                                                            <a href="{% url 'profile' id=owner.user.id %}">{{ owner }}</a>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </td>
                                        </div>
                                    </h6>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                    <hr>
                    <h5>Статистика
                        <button class="show-hide" onclick="hideShow('statistics')">
                            <img src="{% static "img/show_hide.png" %}" width="10%" style="width: 20px; height: 20px;">
                        </button>
                    </h5>
                    <div class="statistics" id="statistics" style="display: none">
                        <br>
                        <p>По технологиям проекта:</p>
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th scope="col">Технология</th>
                                <th scope="col">Сотрудник</th>
                                <th scope="col">Уровень</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for object in technology_statistics %}
                                <tr>
                                    {% if object.first %}
                                        <td rowspan="{{ object.first }}">
                                            {{ object.object }}
                                        </td>
                                    {% endif %}
                                    <td>
                                        {{ object.sub_object }}
                                    </td>
                                    <td>{{ object.count }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                        <br>
                        <p>По навыкам специализации участников проекта:</p>
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th scope="col">Навык</th>
                                <th scope="col">Сотрудник</th>
                                <th scope="col">Уровень</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for object in team_skills_statistics %}
                                <tr>
                                    {% if object.first %}
                                        <td rowspan="{{ object.first }}">
                                            {{ object.object }}
                                        </td>
                                    {% endif %}
                                    <td>
                                        {{ object.sub_object }}
                                    </td>
                                    <td>{{ object.count }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_scripts %}
    <script type="text/javascript">
        function hideShow(id) {
            var x = document.getElementById(id);
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }
    </script>
{% endblock extra_scripts %}