{#{% extends 'employee/profile.html' %}#}
{% extends 'common/wrap.html' %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <div class="fluid-container">
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <h3 class="text-center">
                            {% if skill_name %}
                                Редактировать навык:
                            {% else %}
                                Добавить навык:
                            {% endif %}
                        </h3>
                        <form action="{% url 'edit' id=id tab=tab %}" method="post">
                            {% csrf_token %}
                            <br>
                            <div class="container">
                                <div class="row">
                                    <select name="section" id="section">
                                        <option value="{% if section %}{{ section.id }}{% endif %}"
                                                {% if not section %}disabled{% endif %} selected>
                                            {% if section %}
                                                {{ section.name }}
                                            {% else %}
                                                Выберите раздел
                                            {% endif %}
                                        </option>
                                        {% for section in sections %}
                                            <option value="{{ section.id }}">{{ section.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <br>
                                <div class="row">
                                    <select name="skill" id="skill">
                                        <option value="{% if skill %}{{ skill.id }}{% endif %}"
                                                {% if not skill %}disabled{% endif %} selected>
                                            {% if skill_name %}
                                                {{ skill_name }}
                                            {% else %}
                                                Выберите навык
                                            {% endif %}
                                        </option>
                                        {% if skills %}
                                            {% for skill in skills %}
                                                <option value="{{ skill.id }}">{{ skill.name }}</option>
                                            {% endfor %}
                                        {% endif %}
                                    </select>
                                </div>
                            </div>
                            <br>
                            <div class="skill-level" onload="setRadio();">
                                Уровень:
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" class="custom-control-input" id="1"
                                           name="inlineDefaultRadiosExample" value="1">
                                    <label class="custom-control-label" for="1">1</label>
                                </div>

                                <!-- Default inline 2-->
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" class="custom-control-input" id="2"
                                           name="inlineDefaultRadiosExample" value="2">
                                    <label class="custom-control-label" for="2">2</label>
                                </div>

                                <!-- Default inline 3-->
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" class="custom-control-input" id="3"
                                           name="inlineDefaultRadiosExample" value="3">
                                    <label class="custom-control-label" for="3">3</label>
                                </div>
                            </div>
                            <br>
                            <div class="text-center">
                                <input type="submit" class="btn btn-warning" value="Отправить"/>
                            </div>
                        </form>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <style>
        select {
            width: 100%;
        }
    </style>

{% endblock %}

{% block extra_scripts %}
    <script type="text/javascript">
        function setRadio() {
            {% if level %}
                document.getElementById({{ level }}).checked = true;
            {%  endif %}
        }
    </script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            setRadio();
        });
    </script>
    <script type="text/javascript">
        $('#section').on('change', function () {
            let url = location.pathname + '/data';
            $.ajax({
                url: url,
                type: 'get',
                dataType: 'json',
                data: {
                    "section": $("#section").val(),
                },
                success: function (data) {
                    skills = JSON.parse(data.skills);
                    var newOptions = {};
                    for (var i = 0; i < skills.length; i++) {
                        newOptions[skills[i].pk] = skills[i].fields.name
                    }

                    $.each(newOptions, function (key, value) {
                        $('#skill').append($('<option value="' + key + '">' + value + '</option>'));
                    });
                },
                failure: function () {
                    alert('bad')
                }
            });
        });
    </script>
{% endblock extra_scripts %}
