<form method="post">
    {% csrf_token %}
    <div class="md-form">
        <input placeholder="Selected date" name="date" type="date" id="forecastingEmployeeDate"
               class="form-control datepicker">
        <label for="forecastingEmployeeDate">Узнать предполагаемое количество сотрудников каждого уровня в определенную дату</label>
        <button type="button" class="btn btn-sm btn-light" id="sendEmployeeDate">Расчитать</button>
    </div>
    <div id="results" hidden>
        <h5>Результат</h5>
        <h6>Senior: <span id="senior"></span></h6>
        <h6>Middle: <span id="middle"></span></h6>
        <h6>Junior: <span id="junior"></span></h6>
        <h6>Стажер: <span id="trainee"></span></h6>
    </div>
</form>
<script>
    $('#sendEmployeeDate').on('click', function (event) {
        $.ajax({
            url: '/forecasting/',
            data: {
                'date': $('#forecastingEmployeeDate').val()
            },
            type: 'get',
            dataType: 'json',
            success: function (data) {
                $('#results').removeAttr('hidden');
                $('#senior').html(data[3]);
                $('#middle').html(data[2]);
                $('#junior').html(data[1]);
                $('#trainee').html(data[0]);
            },
            failure: function (data) {
            }
        })
    })
</script>
