<form method="post">
    {% csrf_token %}
    <div class="md-form">
        <input placeholder="Selected date" name="date" type="date" id="forecastingDate"
               class="form-control datepicker">
        <label for="forecastingDate">Узнать уровень сотрудника в конкретную дату</label>
        <button type="button" class="btn btn-sm btn-light" id="sendDate">Расчитать</button>
    </div>
    <div id="result" hidden>
        <h5>Результат</h5>
        <h6 id="level"></h6>
    </div>
</form>

<script>
    $('#sendDate').on('click', function (event) {
        let id = document.getElementById("employee_id").innerHTML;
        $.ajax({
            url: '/forecasting/' + id,
            data: {
                'date': $('#forecastingDate').val()
            },
            type: 'get',
            dataType: 'json',
            success: function (data) {
                console.log('okay');
                nextGrade = JSON.parse(data.next_grade);
                var nextGradeWord;
                if (nextGrade === 1) {
                    nextGradeWord = 'Junior';
                }
                if (nextGrade === 2) {
                    nextGradeWord = 'Middle';
                }
                if (nextGrade === 3) {
                    nextGradeWord = 'Senior';
                }
                $('#result').removeAttr('hidden');
                $('#level').html('Предполагаемый уровень: ' + nextGradeWord)

            },
            failure: function (data) {
                {#обработать исключение#}
            }
        })
    })
</script>
