{% extends 'common/wrap.html' %}
{% load utils %}
{% load static %}

{% block extra_head %}
    {% if is_lofl %}
        <style type="text/css">
            .employee-main-info {
                border-radius: 0.25rem 0.25rem 0 0;
            }
        </style>
    {% endif %}
{% endblock extra_head %}

{% block header_items %}
    <div class="collapse navbar-collapse" id="userNavbar">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item ml-auto">
                <form class="form-inline" action="{% url 'search' %}" method="get">
                    <i class="fas fa-search" aria-hidden="true" style="margin-right: -5px;"></i>
                    <div class="md-form my-0">
                        <input class="form-control mr-sm-2" type="text" name="search" placeholder="Поиск сотрудника"
                               aria-label="Search">
                    </div>
                </form>
            </li>
            {% if is_lofl %}
                <li class="nav-item ml-auto">
                    <a class="nav-link waves-effect waves-light" href="{% url 'search_by_skill' %}">
                        <i class="fas fa-search" aria-hidden="true" style="margin-right: -5px;"></i>&ensp;Поиск по
                        навыкам</a>
                </li>
            {% endif %}
            <li class="nav-item ml-auto">
                <a class="nav-link waves-effect waves-light" href="{% url 'profile' id=auth_user.id %}">
                    <i class="fas fa-user"></i>Профиль</a>
            </li>
            <li class="nav-item ml-auto">
                <a class="nav-link waves-effect waves-light" href="{% url 'logout' %}">
                    <i class="fas fa-sign-out-alt"></i>Выйти</a>
            </li>
        </ul>
    </div>
    </div>
{% endblock %}

{% block content %}
    <div class="card employee-main-info">
        <div class="card-body">
            <div class="fluid-container">
                <div class="row">
                    <div class="col-md-3">
                        {% if user.photo %}
                            <img src="{{ user.photo.url }}"
                                 width="100%"
                                 class="rounded float-left" alt="...">
                        {% else %}
                            <img src="{% static "img/default.png" %}"
                                 width="100%"
                                 class="rounded float-left" alt="...">
                        {% endif %}
                    </div>

                    <div class="col-md-9">
                        <h4 class="card-title">
                            {{ user.last_name }} {{ user.first_name }} {{ user.middle_name }}
                            {% if is_in_comission %}
                                <img class="comission-icon" src="{% static "img/tick.png" %}" width="10%"
                                     title="Данный сотрудник является членом комиссии">
                            {% endif %}
                            {% if not is_owner or not is_lofl %}
                                {% if auth_is_in_comission and is_in_comission %}
                                    <a href="{% url 'comission_remove' id=user.id %}" class="btn btn-primary btn-sm">
                                    {% if is_owner %}Уйти из комиссии
                                    {% else %}Убрать из комиссии
                                    {% endif %} {% endif %}
                            </a>
                            {% endif %}
                        </h4>
                        {% if auth_is_in_comission or is_owner or not user.closed %}
                            <hr>
                            <h6> День рождения: {{ birth_day }} ({{ age }})</h6>
                            <h6> Стаж работы в БАРС Груп: {{ experience }} </h6>
                            <hr>
                            <h6> Должности:</h6>
                            {% for employee in employees %}
                                <h6 class="employee-division"><span onclick="changeArrow('{{ employee.id }}')" id="{{ employee.id }}"
                                                                    class="division-and-job">{{ employee.division }}
                                    - {{ employee.sub_position }}
                                    - {{ employee.get_level_display }} </span>(
                                    с {{ experiences|get_value_from_dict:employee.start_date }})
                                    {% if employee == employees.0 %}
                                        <img id="first-left-arrow" src="{% static "img/left_arrow.png" %}"
                                         style="width: 25px; height: 25px; margin-bottom: 2px;">
                                    {% endif %}
                                    <img class="{{ employee.id }} other-arrow" src="{% static "img/left_arrow.png" %}"
                                         style="width: 25px; height: 25px; margin-bottom: 2px; display: none;">
                                </h6>
                            {% endfor %}
                            <hr>
                            {% if is_owner %}
                                <form action="{% url 'change_profile_access' id=user.id %}" method="post">
                                    <div class="input-group">
                                        {% csrf_token %}
                                        {% if auth_user.closed %}
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" name="closed"
                                                       class="custom-control-input"
                                                       id="defaultChecked"
                                                       checked>
                                                <label class="custom-control-label" for="defaultChecked">Закрытый
                                                    профиль</label>
                                            </div>
                                        {% else %}
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" name="closed"
                                                       class="custom-control-input"
                                                       id="defaultUnchecked">
                                                <label class="custom-control-label" for="defaultUnchecked">Закрытый
                                                    профиль</label>
                                            </div>
                                        {% endif %}
                                        <button title="сохранить" class="save-close-profile" type="submit" value="Send">
                                            <i class="far fa-save"></i>
                                        </button>
                                    </div>
                                </form>
                            {% endif %}
                        {% else %}
                            <h6>Закрытый профиль <i class="fas fa-lock"></i></h6>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if not is_owner %}
        {% if allowed_to_add_to_team or auth_is_in_comission %}
            <div class="card-group lead-abilities">

                {% if auth_is_in_comission and not is_in_comission %}
                    <div class="card mb-4 comission-card" align="center">
                        <div class="card-body">
                            <h4 class="card-title">Сделать сотрудника членом комиссии</h4>
                            <a href="{% url 'comission' id=user.id %}" id="comission" class="btn btn-primary btn-md">Выполнить</a>
                        </div>
                    </div>
                {% endif %}

                {% if projects_of_lead or is_lofl %}

                    <div class="card mb-4" align="center">

                        <div class="card-body">
                            <h4 class="card-title">
                                Добавить сотрудника в команду/проект
                                <button class="show-hide" onclick="hideShow('add-to-team-content')">
                                    <img src="{% static "img/show_hide.png" %}" width="10%"
                                         style="width: 20px; height: 20px;">
                                </button>
                            </h4>

                            <div class="card-content" id="add-to-team-content" style="display: none; margin-top: 20px;">
                                <form action="{% url 'add_employee_team' id=employee.id %}" method="post">
                                    {% csrf_token %}
                                    <div class="select-box" align="left">
                                        <label for="select-box1" class="label select-box1"><span class="label-desc">Должность сотрудника</span>
                                        </label>
                                        <select id="select-box1" class="select" name="employee_id">
                                            <option value="" style="display: none"></option>
                                            {% for employee in employees %}
                                                <option value="{{ employee.id }}">{{ employee.division }}
                                                    - {{ employee.job }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="select-box" align="left">
                                        <label for="select-box2" class="label select-box2"><span
                                                class="label-desc">Проект</span> </label>
                                        <select id="select-box2" class="select" name="project_id">
                                            <option value="" style="display: none"></option>
                                            {% for project in projects_of_lead %}
                                                <option value="{{ project.id }}">{{ project.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="team-checkbox">
                                        <div class="input-group">
                                            <div class="custom-control custom-checkbox team">
                                                <input type="checkbox" name="to_team"
                                                       class="custom-control-input"
                                                       id="defaultChecked1">
                                                <label class="custom-control-label" for="defaultChecked1">В
                                                    команду</label>
                                            </div>
                                            <div class="custom-control custom-checkbox project">
                                                <input type="checkbox" name="to_project"
                                                       class="custom-control-input"
                                                       id="defaultUnchecked1">
                                                <label class="custom-control-label" for="defaultUnchecked1">В
                                                    проект</label>
                                            </div>
                                        </div>
                                    </div>
                                    <input type="submit" class="btn btn-primary btn-md submit" value="Добавить"/>
                                </form>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        {% endif %}
    {% endif %}
    <br>
    {% if is_owner or auth_is_in_comission or not user.closed %}
        <div class="card">
        <div class="card-body">
            <div class="fluid-container">
                <div class="row">
                    <div class="col-3">
                        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist"
                             aria-orientation="vertical">
                            {% if is_owner %}
                                <a class="nav-link active" id="v-pills-projects-tab" data-toggle="pill"
                                   href="#v-pills-projects"
                                   role="tab"
                                   aria-controls="v-pills-projects" aria-selected="true">Мои проекты</a>
                                <a class="nav-link" id="v-pills-skills-tab" data-toggle="pill"
                                   href="#v-pills-skills"
                                   role="tab"
                                   aria-controls="v-pills-skills" aria-selected="false">Мои навыки</a>
                                <a class="nav-link" id="v-pills-recommendations-tab" data-toggle="pill"
                                   href="#v-pills-recommendations"
                                   role="tab"
                                   aria-controls="v-pills-recommendations" aria-selected="false">Рекомендации</a>

                            {% elif not user.closed or auth_is_in_comission %}
                                <a class="nav-link active" id="v-pills-projects-tab" data-toggle="pill"
                                   href="#v-pills-projects"
                                   role="tab"
                                   aria-controls="v-pills-projects" aria-selected="true">Проекты</a>
                                <a class="nav-link" id="v-pills-skills-tab" data-toggle="pill"
                                   href="#v-pills-skills"
                                   role="tab"
                                   aria-controls="v-pills-skills" aria-selected="false">Навыки</a>
                            {% endif %}
                            {% if is_lofl %}
                                <a class="nav-link" id="v-pills-forecasting-tab" data-toggle="pill"
                                   href="#v-pills-forecasting"
                                   role="tab"
                                   aria-controls="v-pills-forecasting" aria-selected="false">Личный прогноз</a>
                                {% if is_owner %}
                                    <a class="nav-link" id="v-pills-forecasting-employee-tab" data-toggle="pill"
                                       href="#v-pills-forecasting-employee"
                                       role="tab"
                                       aria-controls="v-pills-forecasting-employee" aria-selected="false">Прогноз уровней сотрудников</a>
                                    <a class="nav-link" id="v-pills-statistics-tab" data-toggle="pill"
                                       href="#v-pills-statistics"
                                       role="tab"
                                       aria-controls="v-pills-statistics" aria-selected="false">Статистики
                                        бизнес-центров</a>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-9">
                        <div class="tab-content" id="v-pills-tabContent">
                            {% if is_owner or not user.closed or auth_is_in_comission %}
                                <div class="tab-pane fade show active" id="v-pills-projects" role="tabpanel"
                                     aria-labelledby="v-pills-projects-tab">
                                    {% include 'employee/projects.html' %}
                                </div>
                                <div class="tab-pane fade" id="v-pills-skills" role="tabpanel"
                                     aria-labelledby="v-pills-skills-tab">
                                    {% include 'employee/skills.html' %}
                                    <div id="employee_id" hidden>{{ employee.id }}</div>
                                    {% if allowed_to_add_skills %}
                                        <br>
                                        <a href="{% url 'edit' id=employee.id tab=1 %}" id="edit">Добавить навык<i
                                                class="fas fa-plus"></i></a>
                                    {% endif %}
                                </div>
                            {% endif %}
                            {% if is_owner %}
                                <div class="tab-pane fade" id="v-pills-recommendations" role="tabpanel"
                                     aria-labelledby="v-pills-recommendations-tab">
                                    {% include 'employee/recommendations.html' %}
                                </div>
                                {% if is_lofl %}
                                    <div class="tab-pane fade" id="v-pills-statistics" role="tabpanel"
                                         aria-labelledby="v-pills-statistics-tab">
                                        {% include 'department/depts.html' %}
                                    </div>
                                    <div class="tab-pane fade" id="v-pills-forecasting-employee" role="tabpanel"
                                         aria-labelledby="v-pills-forecasting-employee-tab">
                                        {% include 'employee/forecastingEmployee.html' %}
                                    </div>
                                {% endif %}
                            {% endif %}
                            {% if is_lofl %}
                                <div class="tab-pane fade" id="v-pills-forecasting" role="tabpanel"
                                     aria-labelledby="v-pills-forecasting-tab">
                                    {% include 'employee/forecasting.html' %}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}

{% csrf_token %}
{% block extra_scripts %}

    <script type="text/javascript">
        function hideShow(id) {
            var x = document.getElementById(id);
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }
    </script>

    <script type="text/javascript">
        function changeArrow(id) {
            var arrow1 = document.getElementById("first-left-arrow");
            arrow1.style.display = "none";
            var other_arrows = document.getElementsByClassName("other-arrow");
            for (let arrow of other_arrows) {
                arrow.style.display = "none";
            }
            var arrow2 = document.getElementsByClassName(id)[0];
            if (arrow2.style.display === "none") {
                arrow2.style.display = "inline";
            } else {
                arrow2.style.display = "none";
            }
        }
    </script>

    <script>
        $("select").on("click", function () {

            $(this).parent(".select-box").toggleClass("open");

        });

        $(document).mouseup(function (e) {
            var container = $(".select-box");

            if (container.has(e.target).length === 0) {
                container.removeClass("open");
            }
        });


        $("select").on("change", function () {

            var selection = $(this).find("option:selected").text(),
                labelFor = $(this).attr("id"),
                label = $("[for='" + labelFor + "']");

            label.find(".label-desc").html(selection);

        });
    </script>

    <!--#region POPOVERs  -->
    <script>
        $(function () {
            $('[data-toggle="popover"]').popover()
        })
    </script>

    <script>
        $('body').on('click', function (e) {
            $('[data-toggle=popover]').each(function () {
                // hide any open popovers when the anywhere else in the body is clicked
                if (!$(this).is(e.target) && $(this).has(e.target).length === 0 && $('.popover').has(e.target).length === 0) {
                    $(this).popover('hide');
                }
            });
        });
    </script>
    <!--#endregion -->

    <script>
        $('.employee-division').on('click', function (event) {
            let url = event.target.id + '/data';
            $.ajax({
                url: url,
                type: 'get',
                dataType: 'json',
                success: function (data) {
                    employee_id = JSON.parse(data.employee);
                    $('#employee_id').empty();
                    $('#employee_id').html(employee_id);

                    is_lofl = false;
                    {% if is_lofl %}
                        is_lofl = true
                    {% endif %}
                    if (is_lofl) {
                        current_tab = $('#skillsTabJust .active').text();
                        if (current_tab == 'Технические навыки') {
                            get_tab(1);
                        } else if (current_tab == 'Навыки специализации') {
                            get_tab(2);
                        } else {
                            get_tab(3);
                        }
                    }

                    projectsEmpl = JSON.parse(data.projects);
                    $('#projects-current').empty();
                    $('#projects-archive').empty();
                    projectsEmpl.forEach(function (item) {
                        let fields = item.fields;
                        let project_id = "{% url 'project' 0 %}";
                        project_id = project_id.replace("0", item.pk);
                        if (fields.actual == true) {
                            $('<div>', {
                                class: 'project',
                                append: $('<a>', {
                                    href: project_id,
                                    append: $('<h5>', {class: "font-weight-bold mb-3 project-link", text: fields.name})
                                })
                                    .add($('<p>', {class: 'grey-text', text: fields.extra_info}))
                                    .add($('<hr>'))
                            }).appendTo('#projects-current');
                        } else {
                            $('<div>', {
                                class: 'project',
                                append: $('<a>', {
                                    href: project_id,
                                    append: $('<h5>', {class: "font-weight-bold mb-3 project-link", text: fields.name})
                                })
                                    .add($('<p>', {class: 'grey-text', text: fields.extra_info}))
                                    .add($('<hr>'))
                            }).appendTo('#projects-archive');
                        }
                    });

                    emplSkills = JSON.parse(data.skills);
                    $('#skills_body').empty();
                    emplSkills.forEach(function (item) {
                        $('<tr>', {
                            id: item[0] + ',' + item[1],
                            class: 'skills',
                            onclick: "redirect_to_edit_skill(get_skill(id))",
                            append: $('<td>', {
                                text: item[0]
                            })
                                .add($('<td>', {
                                    text: item[2]
                                }))
                        }).appendTo('#skills_body')
                    });
                    emplSubSkills = JSON.parse(data.subskills);
                    $('#subskills_body').empty();
                    emplSubSkills.forEach(function (item) {
                        $('<tr>', {
                            id: item[0] + ',' + item[1],
                            class: 'subskills',
                            onclick: "redirect_to_edit_skill(get_skill(id))",
                            append: $('<td>', {
                                text: item[0]
                            })
                                .add($('<td>', {
                                    text: item[2]
                                }))
                        }).appendTo('#subskills_body')
                    });

                    emplSoftSkills = JSON.parse(data.softskills);
                    $('#softskills_body').empty();
                    emplSoftSkills.forEach(function (item) {
                        $('<tr>', {
                            id: item[0] + ',' + item[2],
                            class: 'softskills',
                            onclick: "redirect_to_edit_skill(get_skill(id))",
                            append: $('<td>', {
                                text: item[0]
                            })
                                .add($('<td>', {
                                    text: item[2]
                                }))
                        }).appendTo('#softskills_body')
                    });

                    emplSkillsRecommend = JSON.parse(data.emplSkillsRecommend);
                    $('#skill_recommend').empty();
                    emplSkillsRecommend.forEach(function (item) {
                        $('<tr>', {
                            append: $('<td>', {
                                text: item[0] + ' (' + item[1] + ')'
                            })
                                .add($('<td>', {
                                    text: item[2]
                                }))
                        }).appendTo('#skill_recommend')
                    });

                    emplSubskillsRecommend = JSON.parse(data.emplSubskillsRecommend);
                    $('#subskill_recommend').empty();
                    emplSubskillsRecommend.forEach(function (item) {
                        $('<tr>', {
                            append: $('<td>', {
                                text: item[0] + ' (' + item[1] + ')'
                            })
                                .add($('<td>', {
                                    text: item[2]
                                }))
                        }).appendTo('#subskill_recommend')
                    });
                },
                failure: function () {
                    alert('bad')
                }
            });
        });
    </script>
{% endblock %}