{% if projects %}
<ul class="nav nav-tabs nav-justified md-tabs" id="projectsTabJust" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="projects-tab-current" data-toggle="tab"
           href="#projects-current" role="tab" aria-controls="projects-current"
           aria-selected="true">Текущие</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="projects-tab-archive" data-toggle="tab"
           href="#projects-archive" role="tab" aria-controls="projects-archive"
           aria-selected="false">Архивные</a>
    </li>
</ul>
<br>
<br>
<div class="tab-content" id="projectsTabCurrent" style="margin-top: -50px;">
    <br>
    <div class="tab-pane fade show active" id="projects-current" role="tabpanel"
         aria-labelledby="projects-tab-current">

        {% if actual_projects %}
            {% for project in actual_projects %}
                <div class="project">
                    <a href="{% url 'project' id=project.id %}"><h5 class="font-weight-bold mb-3 project-link">{{ project.name }}</h5></a>
                    <p class="grey-text">{{ project.extra_info }}</p>
                    <hr>
                </div>
            {% endfor %}<br>
        {% else %}
            <p>Данные по текущим проектам отсутствуют</p>
        {% endif %}

    </div>
    <div class="tab-pane fade" id="projects-archive" role="tabpanel"
         aria-labelledby="projects-tab-archive">

        {% if not_actual_projects %}
            {% for project in not_actual_projects %}
                <div class="project">
                <a href="{% url 'project' id=project.pk %}"><h5 class="font-weight-bold mb-3 project-link">{{ project.name }}</h5></a>
                <p class="grey-text">{{ project.extra_info }}</p>
                <hr>
                </div>
            {% endfor %}<br>
        {% else %}
            <p>Данные по архивным проектам отсутствуют</p>
        {% endif %}

    </div>
</div>
{% else %}
    <p>Данные по проектам отсутствуют</p>
{% endif %}