{% if skills or subskills or softskills %}
<ul class="nav nav-tabs nav-justified md-tabs" id="skillsRecTabJust" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="skills-rec-tab-just" data-toggle="tab"
           href="#skills-rec-just" role="tab" aria-controls="skills-rec-just"
           aria-selected="true">Технические навыки</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="subskills-rec-tab-just" data-toggle="tab"
           href="#subskills-rec-just" role="tab" aria-controls="subskills-rec-just"
           aria-selected="false">Навыки специализации</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="softskills-rec-tab-just" data-toggle="tab"
           href="#softskills-rec-just" role="tab" aria-controls="softskills-rec-just"
           aria-selected="false">Гибкие навыки</a>
    </li>
</ul>
<br>
<br>
<div class="tab-content" id="skillsRecTabContentJust" style="margin-top: -50px;">
    <div class="tab-pane fade show active" id="skills-rec-just" role="tabpanel"
         aria-labelledby="skills-rec-tab-just">
        {% if skills %}
            <table class="table table-bordered table-hover" id="table1">
                <thead class="thead-dark">
                <tr>
                    <th scope="col" style="width: 440px;">
                        Навык
                    </th>
                    <th scope="col">
                        Умения, которых не хватает
                    </th>
                </tr>
                </thead>
                <tbody id="skill_recommend">
                {% for skill_level in employee_skill_recommendation_levels %}
                    <tr>
                        <td>{{ skill_level.skill }} ({{ skill_level.name }})</td>
                        <td>{{ skill_level.description }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <br>
            <p>Данные по рекомендациям технических навыков отсутствуют</p>
        {% endif %}
    </div>
    <div class="tab-pane fade" id="subskills-rec-just" role="tabpanel"
         aria-labelledby="subskills-rec-tab-just">
        {% if subskills %}
            <table class="table table-bordered table-hover" id="table2">
                <thead class="thead-dark">
                <tr>
                    <th scope="col" style="width: 440px;">Навык</th>
                    <th scope="col">Умения, которых не хватает</th>
                </tr>
                </thead>
                <tbody id="subskill_recommend">
                {% for skill_level in employee_subskill_recommendation_levels %}
                    <tr>
                        <td>{{ skill_level.sub_skill }} ({{ skill_level.name }})</td>
                        <td>{{ skill_level.description }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <br>
            <p>Данные по рекомендациям навыков специализации отсутствуют</p>
        {% endif %}
    </div>
    <div class="tab-pane fade" id="softskills-rec-just" role="tabpanel"
         aria-labelledby="softskills-rec-tab-just">
        {% if softskills %}
            <table class="table table-bordered table-hover" id="table3">
                <thead class="thead-dark">
                <tr>
                    <th scope="col" style="width: 440px;">Навык</th>
                    <th scope="col" style="font-size: 1.2rem;">Уровень</th>
                </tr>
                </thead>
                <tbody>
                {% for softskill in softskills %}
                    <tr>
                        <td>{{ softskill.1 }}</td>
                        <td>{{ softskill.3 }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <br>
        <p style="margin-top: -16px;">Не забывайте улыбаться коллегам и вовремя коммитить, и всё будет классно! <span style="font-size: 30px;">☺</span></p>
        {% endif %}
    </div>
</div>

{% else %}
    <p>Данные по рекомендациям отсутствуют</p>
{% endif %}