{% if skills or subskills or softskills %}
<ul class="nav nav-tabs nav-justified md-tabs" id="skillsTabJust" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="skills-tab-just" data-toggle="tab"
           href="#skills-just" role="tab" aria-controls="skills-just"
           aria-selected="true" onclick="get_tab(1)">Технические навыки</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="subskills-tab-just" data-toggle="tab"
           href="#subskills-just" role="tab" aria-controls="subskills-just"
           aria-selected="false" onclick="get_tab(2)">Навыки специализации</a>

    </li>
    <li class="nav-item">
        <a class="nav-link" id="softskills-tab-just" data-toggle="tab"
           href="#softskills-just" role="tab" aria-controls="softskills-just"
           aria-selected="false" onclick="get_tab(3)">Гибкие навыки</a>
    </li>
</ul>
<br>
<br>
<div class="tab-content" id="skillsTabContentJust" style="margin-top: -50px;">
    <div class="tab-pane fade show active" id="skills-just" role="tabpanel"
         aria-labelledby="skills-tab-just">
        {% if skills %}
            <table class="table table-bordered table-hover" id="table1">
                <thead class="thead-dark">
                <tr>
                    <th scope="col" style="width: 440px;">
                        Навык
                    </th>
                    <th scope="col">
                        Уровень
                    </th>
                </tr>
                </thead>
                <tbody id="skills_body">
                {% for skill in skills %}
                    <tr id="{{ skill.1 }},{{ skill.2 }}" class="skills" onclick="redirect_to_edit_skill(get_skill(id))">
                        <td>{{ skill.1 }}</td>
                        <td>{{ skill.3 }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <br>
            <p>Данные по техническим навыкам отсутствуют</p>
        {% endif %}
    </div>
    <div class="tab-pane fade" id="subskills-just" role="tabpanel"
         aria-labelledby="subskills-tab-just">
        {% if subskills %}
            <table class="table table-bordered table-hover" id="table2">
                <thead class="thead-dark">
                <tr>
                    <th scope="col" style="width: 440px;">Навык</th>
                    <th scope="col">Уровень</th>
                </tr>
                </thead>
                <tbody id="subskills_body">
                {% for subskill in subskills %}
                    <tr id="{{ subskill.1 }},{{ subskill.2 }}" class="subskills"
                        onclick="redirect_to_edit_skill(get_skill(id))">
                        <td>{{ subskill.1 }}</td>
                        <td>{{ subskill.3 }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <br>
            <p>Данные по навыкам специализации отсутствуют</p>
        {% endif %}
    </div>
    <div class="tab-pane fade" id="softskills-just" role="tabpanel"
         aria-labelledby="softskills-tab-just">
        {% if softskills %}
            <table class="table table-bordered table-hover" id="table3">
                <thead class="thead-dark">
                <tr>
                    <th scope="col" style="width: 440px;">Навык</th>
                    <th scope="col">Уровень</th>
                </tr>
                </thead>
                <tbody id="softskills_body">
                {% for softskill in softskills %}
                    <tr id="{{ softskill.1 }},{{ softskill.3 }}" class="softskills"
                        onclick="redirect_to_edit_skill(get_skill(id))">
                        <td>{{ softskill.1 }}</td>
                        <td>{{ softskill.3 }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <br>
            <p>Данные по гибким навыкам отсутствуют</p>
        {% endif %}
    </div>
</div>

<script>
    function get_tab(type) {
        document.getElementById('edit').href = document.location.origin + "/employee/" +
            document.getElementById('employee_id').innerHTML + "/edit/" + type;
    }

</script>
<script>
    function get_edit_skill_url() {
        return document.getElementById('edit').href;
    }

</script>
<script>
    function redirect_to_edit_skill(skill) {
        window.location = get_edit_skill_url() + "?skillName=" + skill[0] + "&level=" + skill[1];
    }
</script>
<script>
    function get_skill(skill) {
        str = skill.split(",");
        return str
    }
</script>

{% else %}
    <p>Данные по навыкам отсутствуют</p>
{% endif %}