<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<H1> ТЕСТОВАЯ СТРАНИЦА, УДАЛИТЬ, ПЕРЕВЕРСТАТЬ НА НОРМАЛЬНУЮ!</H1>
<h1>{{ employee.position.name }} {{ employee.sub_position.name }} УРОВЕНЬ: {{ level }}</h1>
<div>
{% for skill_level in employee_skill_recommendation_levels %}
    Не хватает скилла: {{ skill_level.name }}, уровня {{ skill_level.weight }}
    <h4>{{ skill_level.description }}</h4>
{% endfor %}
</div>
<div>
{% for sub_skill_level in employee_subskill_recommendation_levels %}
    Не хватает саб скилла: {{ sub_skill_level.name }}, уровня {{ sub_skill_level.weight }}
      <h4>{{ sub_skill_level.description }}</h4>
{% endfor %}
</div>
<div>
{% for emp in employees %}
    <div>EMP ID {{ emp.id }}</div>
    <div>EMP POS NAME {{ emp.position.name }} EMP SUB POS NAME{{ emp.sub_position.name }}</div>

{% endfor %}
    </div>
</body>
</html>