@import "project.css";
@import "employee.css";


.nav-pills .nav-link.active,
.nav-justified .nav-link.active {
    color: #000;
    background-color: #ffd33c;
}

.tab-pane .table {
    margin-top: 30px;
}

.navbar {
    background-color: #ffd33c;
}

.navbar-brand {
    color: #000 !important;
}

.navbar-collapse .nav-link {
    color: #000 !important;
}

.navbar-collapse .form-control {
    color: #000 !important;
}

.navbar.navbar-dark form .md-form input {
    border-bottom: 1px solid #000 !important;
}

.nav-tabs .nav-link {
    /*убрала*/
    /*border: solid #E5E5E5;*/
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}

.nav-tabs #skills-tab-just {
    border-width: 1px 1px 1px 1px;
}

.nav-tabs #subskills-tab-just {
    border-width: 1px 0px 1px 0px;
}

.nav-tabs #softskills-tab-just {
    border-width: 1px 1px 1px 1px;
}

.form-control::-moz-placeholder {
    color: #000 !important;
}

.form-control:-ms-input-placeholder {
    color: #000 !important;
}

.form-control::-webkit-input-placeholder {
    color: #000 !important;
}

.popover-button {
    color: #000;
    background-color: #ffd33c !important;
}

.popover-button:hover {
    color: #000;
    font-size: 18px;
}

.project-link {
    color: #000 !important;
}

/*кнопка сохранения закрытого профиля*/
button.save-close-profile {
    margin-left: 5px !important;
    margin-top: -3px !important;
}

.division-and-job:hover {
    color: #007bff !important;
    transition: 0.3s;
    cursor: pointer;
}

th, td {
    font-size: 1rem;
}