.lead-abilities .card-title {
    font-size: 18px;
}

.lead-abilities .card {
    border-radius: 0 0 0.25rem 0.25rem;
}

.select-box {
  cursor: pointer;
  position : relative;
  max-width: 413px;
  width: 100%;
}

.select,
.label {
  color: #414141;
  display: block;
  font: 400 17px/2em 'Source Sans Pro', sans-serif;
}

.select {
  width: 100%;
  position: absolute;
  top: 0;
  padding: 5px 0;
  height: 40px;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  background: none transparent;
  border: 0 none;
}
.select-box1,.select-box2 {
  background: #ececec;
}

.label {
  position: relative;
  padding: 5px 10px;
  cursor: pointer;
}
.open .label::after {
   content: "▲";
}
.label::after {
  content: "▼";
  font-size: 12px;
  position: absolute;
  right: 0;
  top: 0;
  padding: 5px 15px;
  border-left: 5px solid #fff;
}

.comission-icon {
    width: 20px;
    height: 20px;
    margin-bottom: 2.5px;
    margin-left: 5px;
}

.team-checkbox {
    display: table;  /* Instead of display:block */
    margin-left: auto;
    margin-right: auto;
}

.input-group .team {
    margin-right: 50px;
}

.card-content .submit {
    margin-top: 20px;
}

.wrapper {
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-top: 10px;
}

.photo-icon {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo-icon img {
    min-width: 100%;
    min-height: 100%;
    flex-shrink: 0;
}
