.member-name {
    font-size: 20px;
}

.member-info {
    padding-top: 9px;
    padding-left: 100px;
    width: auto;
    height: auto;
    max-width: 600px;
}

.member-info a {
    color: black !important;
}

.member-info a:hover {
    color: #007bff !important;
}

.project h5 {
    font-weight: 500 !important;
}

.project h4 {
    font-weight: 900 !important;
}

.show-hide {
    border: 0;
    background-color: white;
    outline: 0 !important;
}

.skill-name {
    font-size: 20px;
}

.rare-skill-info {
    width: auto;
    height: auto;
    max-width: 500px;
}

.rare-skills table,
.rare-skills table tr,
.rare-skills table tr td
{
    border-color: #DFDFDF !important;
    font-weight: 400;
    font-size: 1rem;
}

.number-of-owners {
    font-size: 20px;
}

.number-of-owners img {
    margin-top: -3px;
}

.skill-name, .owners-title {
    margin-left: 20px;
}

.owners-content a:hover {
    color: #007bff !important;
}