<div class="tab-content" id="statsTabCurrent" style="margin-top: -50px;">
    <br>
    <div class="tab-pane fade show active" id="stats-current" role="tabpanel"
         aria-labelledby="stats-tab-current">
        <br>
        <ul>
            {% for dep in departments %}
            <li>
                <h5><a href="{% url 'department' id=dep.id %}">
                    {{ dep.name }} </a></h5>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>