{% extends 'common/wrap.html' %}

{% block content %}
    <h4>{{ header.name }}</h4><br>
    <table class="table table-bordered">
        <thead>
        <tr>
            {% if type == "department" %}
                <th scope="col">Специальность</th>
                <th scope="col">Должность</th>
            {% elif type == "position" %}
                <th scope="col">Должность</th>
                <th scope="col">Уровень</th>
            {% endif %}
            <th scope="col">Число работников</th>
        </tr>
        </thead>
        <tbody>
        {% for object in objects %}
            <tr>
                {% if object.first %}
                    <td rowspan="{{ object.first }}">
                        {% if type == "department" %}
                            <a href="{% url 'position' department_id=header.id position_id=object.object.id %}">
                                <u>{{ object.object }}</u>
                            </a>
                        {% elif type == "position" %}
                            {{ object.object }}
                        {% endif %}
                    </td>
                {% endif %}
                <td>
                    {% if object.sub_object == 1 %}
                        Junior
                    {% elif object.sub_object == 2 %}
                        Middle
                    {% elif object.sub_object == 3 %}
                        Senior
                    {% else %}
                        {{ object.sub_object }}
                    {% endif %}
                </td>
                <td>{{ object.count }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
