{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Skills forecasting{% endblock %}</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.7.5/css/mdb.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/app.css">
    {% block extra_head %}{% endblock extra_head %}
</head>
<body>
<!-- JQuery -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.7.5/js/mdb.min.js"></script>
<header>
    {% block header %}
        <nav class="mb-1 navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
            <div class="container">
                <a class="navbar-brand" href="#">
                    <img src="https://kazan.ros-spravka.ru/upload/iblock/f5a/barsgroup-kazan-logo.jpg"
                         style="width: 40px" alt="">
                    SKILLS</a>
                <button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
                        data-target="#userNavbar" aria-controls="userNavbar"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                {% block header_items %}
                {% endblock %}
            </div>
        </nav>
    {% endblock %}
</header>

<main style="margin-top: 100px">
    <div class="container">
        {#        <div class="row justify-content-center">#}
        {#            <div class="col-md-10">#}
        {% block content %}
        {% endblock %}
    </div>
    {#        </div>#}
    {#    </div>#}
</main>

<!--
<footer class="page-footer font-small lighten-3 pt-4">
    <div class="footer-copyright text-center py-3">Footer</div>
</footer>
-->
{% block extra_scripts %}{% endblock extra_scripts %}
</body>
</html>